@import "material-design-lite/src/color-definitions";

// Application personal colors
$image_path: '../build/img';

$color-primary: "64,76,72";
$color-primary-dark: "91,110,150";
$color-accent: "0,128,255";
$color-card-todo: unquote("rgb(#{$palette-blue-500})");
$color-card-done: unquote("rgb(#{$palette-green-500})");
$color-card-missed: unquote("rgb(#{$palette-red-500})");
$color-card-dismissed: unquote("rgb(#{$palette-grey-500})");


